# Hashcat binaries (muito grande para o Git)
hashcat/

# Arquivos gerados pelo brute force
cracked_*.txt
hash_md5.txt
hash_sha1.txt

# Python
__pycache__/
*.pyc
*.pyo

# Ambiente virtual
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
